@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Oswald:wght@300&family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f6fb;
  /* display: flex;
  min-width: 100%;
  align-items: center;
  height: 100vh; */
}

.payment__container {
  padding: 27px;
  display: flex;
  align-items: center;
  height: 100vh;
}

.payment__container .main__section {
  padding: 100px;
  background: #fff;
  width: 70%;
  height: 100%;
  border-radius: 25px;
}

.payment__container .main__section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment__container .main__section header .logo {
  cursor: pointer;
}

.payment__container .main__section header .profile {
  display: flex;
  align-items: center;
  height: 46px;
  background: #f6f7f9;
  border-radius: 31px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;

}

.payment__container .main__section header .profile:hover {
  background: #fff;
  transition: all 0.3s;
}

.payment__container .main__section header .profile .username {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.payment__container .main__section header .profile .username img {
  width: 29px;
  height: 22px;
}

.avatar {
  position: relative;
  right: -10px;
}

/* -------------------------------------- header -----------------------------*/
.main__section main {
  margin-top: 65px;
}

.main__section main .payment__section {}

.main__section main .payment__section .payment__section__title {
  display: flex;
  justify-content: space-between;
}

.payment__section__title .title {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
}

.payment__section__title .secure {
  display: flex;
  column-gap: 12px;
  justify-content: flex-end;
}

.payment__section__title .secure img {}

.payment__section__title .secure .secure__content {
  display: flex;
  flex-direction: column;
}

.payment__section__title .secure .secure__content .secure__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.payment__section__title .secure .secure__content .secure__desc {
  width: 60%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #b0b0b0;
  margin-top: 3px;
}

.payment__section .payment__steps {
  display: flex;
}

.payment__section .payment__steps .payment__steps__list {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 4px;
}

.payment__section .payment__steps .payment__steps__list .payment__steps__list__item {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  color: #000000;
  padding-bottom: 4px;
  position: relative;
  bottom: -5.5px;
}

.payment__section .payment__steps .payment__steps__list .payment__steps__list__item.active {
  border-bottom: 2px solid #000;
}

.payment__section .payment__steps__desc {
  width: 40%;
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #b0b0b0;
  margin-top: 5px;
}

.payment__actions {
  margin-top: 58px;
}

.main__form {}

.tab {
  display: none;
}

.main__form .tab {
  column-gap: 63px;
}

.payment__actions .payment__card {
  width: 343px;
  background: #bdbdbd;
  box-shadow: 0px 7px 12px 2px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
}

.payment__card .card__chip {
  /* margin: 20px 0px 0px 20px; */
}

.payment__card .card__chip img {
  margin: 15px 0px 0px 20px;
  width: 40px;
  height: 40px;
}

.payment__card .card__info {
  min-width: 100%;
  padding: 0 20px;
  background: #616161;
  box-shadow: 0px 6px 8px #000000;
  border-radius: 57px 57px 12px 12px;
  height: auto;
}

.payment__card .card__info .card__number__section {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card__number__title {
  margin-top: 21px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-bottom: 8px;
}

.card-number {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  transform: rotate(-0.02deg);
}

.card__holder__info {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.card__holder {
  display: flex;
  flex-direction: column;
}

.holder_title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.holder_name {
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 18px;
  color: #ffffff;
}

.card__expiration {}

.expiration_title {
  font-family: 'IBM Plex Sans', sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.expiration__info {
  display: flex;
  /* align-items: center; */
  column-gap: 8px;
}

.expiration__info__title img {
  position: relative;
  top: -5px;
  margin-left: 3px;
}

.expiration_subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #bdbdbd;
}

.expiration {
  position: relative;
  top: -5px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.payment__fields {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 50%;
}

.payment__fields .cardNumber {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #B0B0B0;
  margin-left: 3px;
}

.payment__fields .cc-number-input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  height: 57px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-left: 24px;
  background: rgba(176, 176, 176, 0.31);
  color: #000000;
}

.confirm__section {
  display: flex;
  column-gap: 44px;
  align-items: center;
}

.cardExpire {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B0B0B0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 50%;
  cc
}

.cc-expiry-input {
  outline: none;
  border: none;
  border-radius: 8px;
  height: 57px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: rgba(176, 176, 176, 0.31);
  color: #000000;
  text-align: center;
}

.confirm-btn {
  width: 50%;
  height: 57px;
  background: #000000;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
  border: none;
  color: #fff;
  padding: 0 14px;
  cursor: pointer;
}

.send__mess-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: 'IBM Plex Sans', sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #BDBDBD;
}

.send__mess-wrapper .send__mess-input {
  outline: none;
  border: none;
  border-radius: 8px;
  height: 57px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: rgba(176, 176, 176, 0.31);
  color: #000000;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.send__mess-btn {
  height: 57px;
  background: #000000;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
  border: none;
  color: #fff;
  padding: 0 50px;
  cursor: pointer;
  text-transform: uppercase;
}



/* ---------------- main setion ^^^^^^^^^^^^^^^^^^^^^^^^^*/

.payment__container .order__section {
  width: 30%;
  height: 100%;
  padding: 100px;
  position: relative;

}

.order__section__title {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 13px;
}

.order__section .order__product__steps .order__product__steps__item {
  display: flex;
}

.order__product__steps__item .box {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  width: 90%;
  color: #645A5A;
}

.dropdown {
  position: relative;
  width: 100%;
  margin-top: 36px;
  /* filter: url(#goo); */
}

.dropdown__face,
.dropdown__items {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
}

.dropdown__face {
  display: block;
  position: relative;
}

.dropdown__items {
  margin: 20px 0;
  position: relative;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.dropdown__items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'IBM Plex Sans', sans-serif;


  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: #000000;
}


.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}

.dropdown input {
  display: none;

}

.dropdown input:checked~.dropdown__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}

.information {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  font-family: 'IBM Plex Sans', sans-serif;

}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 0 5px;

  color: #000000;

}



/* ---------------- order section ^^^^^^^ */


/*------- MEDIA -------*/
@media screen and (max-width: 640px) {
  .payment__container {
    flex-direction: column;
  }

  .payment__container .main__section {
    width: 100%;
    padding: 20px;
  }

  .payment__container .main__section header .logo {
    width: 70px;
  }

  .payment__container .main__section header .logo img {
    width: 100%;
  }

  .payment__container .main__section header .profile {
    height: 30px;
    font-size: 10px;
  }

  .username {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
  }

  .username img {
    max-width: 20px;
    height: 10px;
  }

  .profile .avatar {
    position: relative;
    right: -20px;
  }

  .main__section main .payment__section .payment__section__title {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .payment__section__title .secure {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .payment__section__title .secure img {
    max-width: 30px;
    height: 30px;
  }

  .secure__desc {
    min-width: 100%;
    text-align: center;
  }

  .payment__section .payment__steps {
    justify-content: center;
  }

  .payment__section .payment__steps .payment__steps__list {
    margin-bottom: 10px;
  }

  .payment__section .payment__steps__desc {
    width: 100%;
    text-align: center;
  }

  .main__form .tab {
    column-gap: 63px;
    flex-direction: column;
  }

  .payment__actions .payment__card {
    width: 100%;
    margin-bottom: 15px;
  }

  .payment__fields {
    width: 100%;
  }

  .send__mess-wrapper {
    width: 100%;
  }
  .payment__container .order__section {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
  }
  .order__section__title {
    text-align: center;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .payment__container {
    flex-direction: column;
  }

  .payment__container .main__section {
    width: 100%;
    padding: 20px;
  }

  .payment__container .main__section header .logo {
    width: 70px;
  }

  .payment__container .main__section header .logo img {
    width: 100%;
  }

  .payment__container .main__section header .profile {
    height: 30px;
    font-size: 10px;
  }

  .username {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
  }

  .username img {
    max-width: 20px;
    height: 10px;
  }

  .profile .avatar {
    position: relative;
    right: -20px;
  }

  .main__section main .payment__section .payment__section__title {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .payment__section__title .secure {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .payment__section__title .secure img {
    max-width: 30px;
    height: 30px;
  }

  .secure__desc {
    min-width: 100%;
    text-align: center;
  }

  .payment__section .payment__steps {
    justify-content: center;
  }

  .payment__section .payment__steps .payment__steps__list {
    margin-bottom: 10px;
  }

  .payment__section .payment__steps__desc {
    width: 100%;
    text-align: center;
  }

  .main__form .tab {
    column-gap: 63px;
    flex-direction: row;
  }

  .payment__actions .payment__card {
    width: 100%;
    margin-bottom: 15px;
  }

  .payment__fields {
    width: 100%;
  }

  .send__mess-wrapper {
    width: 100%;
  }
  .payment__container .order__section {
    padding: 50px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .payment__container .order__section {
    padding: 20px;
    width: 100%;
  }
}